* { 
  margin: 0;
  box-sizing: border-box;
}

body { 
  position: relative;
  text-align: center;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

#container {
  margin-top: 100px;
  margin-inline: auto;
  width: 80%;
  max-width: 400px;
}

h1 {
  margin-bottom: 10px;
  margin-top: 40px;
  opacity: 0.9;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input, button {
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

input {
  margin-bottom: 10px;
  border: 1px solid black;
}

button {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

#toggle-theme {
  margin-top: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: blueviolet;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

input:checked + .slider {
  background-color: blueviolet;
}

input:checked + .slider:before {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.text-theme {
  margin-bottom: 10px;
}

.light {
  background-color: white;
  color: black;
}

#answer {
  margin-top: 30px;
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .6s ease;
}

#answer div {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  opacity: 0.9;
}

#answer.in {
  opacity: 1;
  transform: translate3d(0,0,0);
}